/* AboutSection.css */
.about-section {
  padding: 4rem 2rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.about-content {
  max-width: 1200px;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.about-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  object-fit: cover;
}


.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 1rem;
}

.about-text a {
  color: #28a745;
  font-weight: 600;
  text-decoration: none;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  border-radius: 10px;
}
